@import url(https://fonts.googleapis.com/css?family=Raleway:200,400);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);



section.resume {
	margin: 50px;
	padding: 50px;
	background-color: #FFFFFF;
	text-align: center;
	font: 'Raleway';
	font-weight: 200;
}

.details {
	font: 'Raleway';
	font-weight: 200;
	font-size: 100%;
	text-align: justify;
}

.item {
	width: 100%;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
}

.item .name {
	text-align: left;
}

.item .location {
	text-align: center;
}

.item .year {
	text-align: right;
}


