@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400);

section.resume {
	margin: 20px;
	text-align: center;
	font: 'Raleway';
	font-weight: 200;
}

.details {
	font: 'Raleway';
	font-weight: 200;
	font-size: 0.8rem;
	text-align: justify;
}

.item {
	width: 100%;
	font-family: Helvetica, sans-serif;
	font-size: 1.5rem;
	display: inline;
	position: relative;
	text-align: left;
}

.item .name {
	text-align: left;
}

.item .location {
	text-align: center;
}

.item .year {
	text-align: right;
}


