@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400);

section.resume {
	margin: 20px;
	text-align: center;
	font-family: sans-serif;
	font: 'Raleway';
	text-rendering: optimizeLegibility;
}

.item {
	width: 100%;
	font-family: sans-serif;
	font: 'Raleway';
	font-size: 12;
	display: inline-block;
	position: relative;
	text-align: left;
}


.item a{
	color: #009380;
	text-decoration: underline;
}

.item .name {
	top: 0;
	text-align: left;
}

.item .location {
	top: 0;
}

.item .year {
	top: 0;
}


