@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400);

* {
	margin: 20px;
}

section.header {
	font-family: sans-serif;
	font: 'Raleway';
	text-align: center;
}

section.contact {
	font-family: sans-serif;
	font: 'Raleway';
	text-align: center;
}

.links {
	font-family: sans-serif;
	font: 'Raleway';
	text-align: center;
}

body, html {
	font-family: sans-serif;
	font: 'Raleway';
	text-rendering: optimizeLegibility;
	width: auto;
	height: auto;
}

img {
	max-width: 100%;
	height: auto;
}

hr.divider {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

/* -----------------------------------
 * Typography
 * ----------------------------------- */

h1, h2, h3 {
	font-family: sans-serif;
	font: 'Raleway';
}

h4, h5, h6 {
	font-family: sans-serif;
	font: 'Raleway';
	text-align: left;
}


a {
	font-family: sans-serif;
	font: 'Raleway';
	font-weight: 400;
	color: #009380;
}

a:hover {
	text-decoration: none;
}


p {
	font-family: sans-serif;
	font: 'Raleway';
	font-weight: 200;
	color: #231f20;
	text-align: justify;
}